.button1 {
    height: 40px;
    width: 150px;
    border: 1px solid rgb(16, 123, 173);
    color: rgb(16, 123, 173);
    border-radius: 25px;
}

.button2 {
    height: 50px;
    width: 50px;
    color: white;
    background-color: rgb(16, 123, 173);
    margin: 20px 0;
    border-radius: 50%;
}

.button3 {
    background-color: blue;
    height: 50px;
    width: 200px;
    color: white;
    box-shadow: 10px 10px 10px black;
}